* {
    box-sizing: border-box;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

body, a, button {
    font-family: "Quicksand", sans-serif;
}

/* ============= header ============= */

.header_nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.header_logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #000;
}

.header_select {
    padding: 10px 28px 10px 12px;
    background-color: #0F8277;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    line-height: 19.2px;
    color: #EEEEEE;
    position: relative;
}

.header_select::after {
    content: "";
    border-left: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    padding: 3px;
    position: absolute;
    top: 14px;
    right: 12px;
    transform: rotate(315deg);
}

.header_search {
    width: 330px;
    padding-top: 3px;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
    margin-top: 1.5px;
    position: relative;
}

.header_search::placeholder {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    padding-left: 10px;
}

.header_list {
    display: flex;
    gap: 48px;
}

.header_list-item {
    font-weight: 500;
    line-height: 19.2px;
    margin-top: 10px;
}

.header_links {
    display: flex;
    gap: 16px;
}

.header_login {
    padding: 10px 12px 10px 12px;
    color: #0F8277;
    text-decoration: none;
    font-weight: 700;
    line-height: 19.2px;
}

.header_signup {
    padding: 10px 12px 10px 12px;
    background-color: #0F8277;
    text-decoration: none;
    font-weight: 700;
    line-height: 19.2px;
    color: #EEEEEE;
    border-radius: 4px;
}

/* ============= header ============= */



/* ============= hero ============= */

.hero {
    margin-top: 31px;
    display: flex;
    gap: 94px;
    padding: 39px 54px 30px 110px;
    background-color: #DBF3ED;
    border-radius: 15px;
}

.hero_wrapper {
    padding-top: 170px;
    padding-bottom: 184px;
}

.hero_title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    color: #000;
    margin-bottom: 32px;
}

.hero_subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    color: #000;
    margin-bottom: 32px;
}

.hero_btn-primary {
    padding: 10px 12px 10px 12px;
    background-color: #0F8277;
    text-decoration: none;
    font-weight: 700;
    line-height: 19.2px;
    color: #EEEEEE;
    border: 2px solid #0F8277;
    border-radius: 4px;
    margin-right: 24px;
}

.hero_btn-secondary {
    padding: 10px 12px 10px 12px;
    background-color: #0F8277;
    text-decoration: none;
    font-weight: 700;
    line-height: 19.2px;
    background-color: #DBF3ED;
    color: #0F8277;
    border: 2px solid #0F8277;
    border-radius: 4px;
}

.hero_img {
    margin-top: 39px;
    margin-bottom: 30px;
}

/* ============= hero ============= */


/* ============= cards ============= */

.cards {
    margin-top: 80px;
    margin-bottom: 80px;
}

.cards_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #0F8277;
    margin-bottom: 12px;
}

.cards_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    margin-bottom: 12px;
}

.cards_subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    margin-bottom: 40px;
}

.cards_item-wrapper {
    display: flex;
    gap: 24px;
}

.cards_item {
    border: 2px solid #DADADA;
    border-radius: 8px;
    display: block;
    width: 416px;
    height: 480px;
}

.cards_item-pic {
    border-radius: 6px 6px 0px 0px;
    width: 412px;
    height: 270px;
    display: block;
    margin-bottom: 24px;
}

.cards_item-logo {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    padding-left: 16px;
}

.cards_item-title {
    font-weight: 500;
    line-height: 19.2px;
    color: #000;    
}

.cards_item-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin-bottom: 77px;
    color: #000;
    padding-left: 16px;
}

.prjct {
    margin-bottom: 48px;
}

.cards_item-footer {
    display: flex;
    gap: 12px;
    padding-left: 16px;
}

.cards_item-link {
    font-weight: 500;
    line-height: 19.2px;
    color: #0F8277;
    margin-bottom: 24px;
}

.cards_courses {
    margin-top: 80px;
    margin-bottom: 80px;
}

.cards_item-courses {
    border: 2px solid #DADADA;
    border-radius: 8px;
    display: block;
    width: 306px;
    height: 480px;
}

.cards_item-courses_pic {
    border-radius: 6px 6px 0px 0px;
    width: 303px;
    height: 270px;
    display: block;
    margin-bottom: 24px;
}

.cards_item-courses_subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin-bottom: 77px;
    color: #000;
    padding-left: 16px;
    margin-bottom: 86px;
}

.coursesDouble {
    margin-bottom: 57px;
}

.button_footer {
    display: flex;
    justify-content: center;
}

.button_footer-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #0F8277;
}

.button_footer-arrow {
    margin-left: 16px;
    margin-top: 47px;
}

/* ============= cards ============= */


/* ============= topics ============= */

.topics {
    margin-bottom: 80px;
}

.topics_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 40px;
    color: #000;
}

.topics_wrapper {
    display: flex;
    justify-content: space-between;
}

.topics_list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.topics_list-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #000;
}

.topics_list-item_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #0F8277;
}

.topics_list-item_subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #000;
}

/* ============= topics ============= */



/* ============= companies ============= */

.companies {
    background-color: #DBF3ED;
    margin-bottom: 80px;
}

.companies_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    text-align: center;
}

.pdt {
    padding-top: 80px;
}

.pdb {
    padding-bottom: 60px;
}

.companies_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

/* ============= companies ============= */



/* ============= solution ============= */

.solution {
    margin-bottom: 70px;
}

.solution_wrapper {
        display: flex;
        justify-content: space-between;
    
}

.solution_info {
    margin-top: 67.5px;
    width: 636px;
}

.solution_info-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    margin-bottom: 32px;
}

.solution_info-subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    color: #000;
    margin-bottom: 32px;
}

.solution_info-btn {
    padding: 10px 12px 10px 12px;
    background-color: #0F8277;
    border-radius: 4px;
    color: #EEEEEE;
}

.solution_info-table {
    margin-left: 140px;
}

.table_cell {
    width: 196px;
    height: 136px;
    border: 1px solid #bababa;
}

.table_row:nth-child(1) .table_cell:nth-child(1) {
    border-left: none;
    border-top: none;
    position: relative;
}

.table_row:nth-child(1) .table_cell:nth-child(1) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table_row:nth-child(1) .table_cell:nth-child(2) {
    border-top: none;
    position: relative;
}

.table_row:nth-child(1) .table_cell:nth-child(2) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table_row:nth-child(1) .table_cell:nth-child(3) {
    border-top: none;
    border-right: none;
    position: relative;
}

.table_row:nth-child(1) .table_cell:nth-child(3) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table_row:nth-child(2) .table_cell:nth-child(1) {
    border-top: none;
    border-right: none;
    position: relative;
    border-left: none;
}

.table_row:nth-child(2) .table_cell:nth-child(1) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table_row:nth-child(2) .table_cell:nth-child(2) {
    border-top: none;
    border-right: none;
    position: relative;
}

.table_row:nth-child(2) .table_cell:nth-child(2) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table_row:nth-child(2) .table_cell:nth-child(3) {
    border-right: none;
    position: relative;
}

.table_row:nth-child(2) .table_cell:nth-child(3) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table_row:nth-child(3) .table_cell:nth-child(1) {
    border-left: none;
    border-bottom: none;
    position: relative;
}

.table_row:nth-child(3) .table_cell:nth-child(1) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table_row:nth-child(3) .table_cell:nth-child(2) {
    border-bottom: none;
    position: relative;
}

.table_row:nth-child(3) .table_cell:nth-child(2) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table_row:nth-child(3) .table_cell:nth-child(3) {
    border-bottom: none;
    border-right: none;
    position: relative;
}

.table_row:nth-child(3) .table_cell:nth-child(3) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ============= solution ============= */



/* ============= plans ============= */

.plans {
    background-color: #DBF3ED;
    margin-bottom: 80px;
}

.plans_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}

.plans_cards {
    display: flex;
    gap: 24px;
    padding-bottom: 100px;
}

.plans_cards-item {
    width: 416px;
    height: 698px;
    border: 1px solid #0F8277;
    border-radius: 24px;
    background-color: #fff;
}

.plans_cards-item_wrapper {
    padding: 56px 56px 166px 56px;
}

.plans_cards-item_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #000;
    padding-bottom: 27px;
    text-align: center;
}

.plans_cards-item_subtitle {
    font-weight: 500;
    line-height: 19.2px;
    color: #000;
    padding-bottom: 27px;
    text-align: center;
}

.plans_cards-item_price {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    padding-bottom: 75px;
    text-align: center;
    position: relative;
    right: 25px;
}

.plans_cards-item_price::after {
    content: '/ MO';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #000;
    position: absolute;
    top: 15px;
    right: 60px;
}

.plans_cards-item_btn {
    padding: 10px 12px 10px 12px;
    background-color: #0F8277;
    border-radius: 4px;
    color: #EEEEEE;
    display: inline-block;
    margin-bottom: 48px;
    margin-left: 95px;
}

.plans_cards-item_divider {
    border: 1px solid #0F8277;
    margin-bottom: 48px;
}

.plans_arrow {
    display: inline;
    padding: 2px;
    background-color: #0F8277;
    border-radius: 50%;
}

.plans_arrow-text {
    margin-left: 16px;
    display: inline;
    font-weight: 500;
    line-height: 19.2px;
}

.plans_arrow-text:nth-child(3) {
    margin-left: 36px;
}

.plans_arrow-text:nth-child(4) {
    margin-left: 36px;
}

.plans_arrow-text:nth-child(5) {
    margin-left: 36px;
}

.arrow_wrapper{
    margin-top: 16px;
}

.plans_cards-item:nth-child(2) {
    background-color: #0F8277;
}

.plans_cards-item:nth-child(2) p {
    color: #fff;
}

.plans_cards-item:nth-child(2) .plans_cards-item_wrapper {
    padding: 52px 56px 166px 56px;
}

.plans_cards-item:nth-child(2) .plans_cards-item_divider {
    border-color: #fff;
}

.plans_cards-item:nth-child(2) .plans_cards-item_price::after {
    color: #fff;
}

.plans_cards-item:nth-child(2) .plans_cards-item_price {
    padding-bottom: 27px;
}

.plans_cards-item:nth-child(2) h3 {
    color: #fff;
}

.plans_cards-item:nth-child(2) .plans_cards-item_btn {
    border: 2px solid #fff;
}

.plans_cards-item:nth-child(2) .plans_arrow {
    background-color: white;
}

.plans_cards-item:nth-child(3) .plans_cards-item_price::after {
    content: "/ Y";
}

.plans_cards-item:nth-child(3) .plans_cards-item_price {
    padding-bottom: 46px;
}

/* ============= plans ============= */



/* ============= gallery ============= */

.gallery {
    margin-bottom: 76.5px;
}

.gallery_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.gallery_photos {
    display: grid;
    grid-template-areas: 'student1 student9 student9 student8'
                         'student2 student9 student9 student7'
                         'student3 student4 student5 student6';
    gap: 24px;
}

.gallery_photos img {
    width: 306px;
    height: 210.5px;
}

.gallery_photos img:nth-child(1) {
    grid-area: student1;
}

.gallery_photos img:nth-child(2) {
    grid-area: student2;
}

.gallery_photos img:nth-child(3) {
    grid-area: student3;
}

.gallery_photos img:nth-child(4) {
    grid-area: student4;
}

.gallery_photos img:nth-child(5) {
    grid-area: student5;
}

.gallery_photos img:nth-child(6) {
    grid-area: student6;
}

.gallery_photos img:nth-child(7) {
    grid-area: student7;
}

.gallery_photos img:nth-child(8) {
    grid-area: student8;
}

.gallery_photos img:nth-child(9) {
    grid-area: student9;
    width: 636px;
    height: 445px;
}

/* ============= gallery ============= */



/* ============= contact ============= */

.contact {
    padding-top: 65px;
    padding-bottom: 47px;
    display: flex;
    justify-content: center;
    background-image: url(../images/contactbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact::after {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.contact_form {
    width: 565px;
    background-color: #DBF3ED;
    border-radius: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;
}

.contact_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #000;
}

.contact_subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #000;
}

.label_text {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
    margin-bottom: 8px;
}

.label_field {
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: 1px solid #0F8277;
    border-radius: 4px;
    font-weight: 500;
    line-height: 24px;
    color: #8E8E8E;
}

.label_field::placeholder, .label_textarea::placeholder {
    font-family: "Quicksand", sans-serif;
}

.label_textarea {
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: 1px solid #0F8277;
    border-radius: 4px;
    font-weight: 500;
    line-height: 24px;
    color: #8E8E8E;
    resize: none;
}

.form_btn {
    max-width: 196px;
    padding: 10px 77px;
    display: inline-block;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.87px;
    letter-spacing: 0.04em;
    background-color: #0F8277;
    border-radius: 4px;
    border: none;
    color: #F6FDFF;
    text-align: center;    
}

/* ============= contact ============= */



/* ============= footer ============= */

.footer {
    background-color: #F1F1F1;
}

.footer_info {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.footer_info-text {
    width: 306px;
}

.footer_info-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.02em;
    color: #000;
    margin-bottom: 16px;
}

.footer_info-subtitle {
    font-weight: 500;
    line-height: 19.2px;
    color: #000;
}

.info_social-wrapper {
    display: flex;
    gap: 24px;
    justify-content: right;
    margin-bottom: 60px;
}

.social_link {
    padding: 16px;
    background-repeat: no-repeat;
}

.social_link:nth-child(1) {
    background-image: url(../images/ig.png);
}

.social_link:nth-child(2) {
    background-image: url(../images/fb.png);
}

.social_link:nth-child(3) {
    background-image: url(../images/in.png);
}

.footer_info-copyrights {
    font-weight: 500;
    line-height: 19.2px;
    color: #000;
}

/* ============= footer ============= */